.row
  .large-12.columns{align: 'center'}
    =image_tag 'logo.png', class: 'logo'
    %audio{controls: 'controls', autoplay: 'true', src: 'http://s3.freeshoutcast.com:40842/;stream.nsv'}
    %iframe{src: 'http://miespacio.ucol.mx/jgelizondo/pwr/song.php', width: '350', frameborder: '0', scrolling:'no', align: 'center'} ERROR!
