#programacion.reveal-modal
  %h2 Proximamente

#acerca-de.reveal-modal
  %h2 PIUWORLD Radio
  %p
    Fundado en 2005 por Deltanetworkz
    #{'<br>'.html_safe}
    Sitio creado por FIRE GAME Labs de Omikronet
  %p
    Visitanos en #{link_to 'Facebook', 'http://www.facebook.com/PIUWORLDRADIO'}

#omikron.reveal-modal
  .staff-photo
    =image_tag 'http://sphotos-c.ak.fbcdn.net/hphotos-ak-ash3/15201_502917383060561_1241284747_n.jpg'
  .staff-info
    %h3 Omikron
    %p Administrador
    %p.location Colima, MX
  .staff-description
    %p
      Pumper desde 2003.
    #{'<br>'.html_safe}
    %p
      Omikron es un apasionado de generar nuevas ideas para para unir a la gente a traves del Pump It Up. 
      Como web developer y blogger, Omikron ha ayudado al avance de diversos proyectos del campo gracias a Internet
      y las redes sociales.
    #{'<br>'.html_safe}
    %p
      Omikron es creador de proyectos como Pump It Up Elysium, FIRE GAME: A Pump It Up Source, PVP (Pumpers Voices Project), FIRE GAME Stepmakers e impulsor de PIUWORLD.
