@font-face {
    font-family: 'DynoBold';
    src: font-url('/assets/Dyno%20Bold.eot');
    src: font-url('/assets/Dyno%20Bold.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/Dyno%20Bold.woff') format('woff'),
         font-url('/assets/Dyno%20Bold.ttf') format('truetype'),
         font-url('/assets/Dyno%20Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DynoRegular';
    src: font-url('/assets/Dyno%20Regular.eot');
    src: font-url('/assets/Dyno%20Regular.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/Dyno%20Regular.woff') format('woff'),
         font-url('/assets/Dyno%20Regular.ttf') format('truetype'),
         font-url('/assets/Dyno%20Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PLZ';
    src: font-url('/assets/PLZ.eot');
    src: font-url('/assets/PLZ.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/PLZ.woff') format('woff'),
         font-url('/assets/PLZ.ttf') format('truetype'),
         font-url('/assets/PLZ.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
