body {
  background-image: url('dice-bg.jpg') !important;
  nav, nav a, .reveal-modal h3 {
    font-family: "DynoBold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  }
  .reveal-modal {
    width: 60% !important;
    left: 60% !important;
    p {
      font-family: "DynoRegular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    }
  }
}

.logo {
  width: 585px;
}

.audiojs {
  display: block;
  margin-top: 10px;
}

.columns {
  padding: 10%
}

iframe {
  text-align: center;
  width: 440px;
}

ul.dropdown {
  text-align: center
}

.track-info {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family:"Trebuchet MS", Arial, Serif;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 5px;
  width: 440px;
}

.track-info, font{
  color: white;
}

.staff-photo {
  display: inline-block;
  float: left;
  min-width: 150px !important;
  img {
    width: 150px;
    border-radius: 5px;
  }
}

.staff-info {
  margin-left: 20px;
  display: inline-block;
  img {
    width: 30px;
  }
  img, p, h3{
    margin: 2px 0
  }
  h3 { line-height: 0.8 }
  p.location {
    line-height: 0.8;
    font-size: 12px; 
  }
}

.staff-description {
  padding-top: 20px;
  clear: both;
  p {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width:400px) {
  iframe {
    text-align: center;
    width: 300px;
  }
}
