body {
  background-image: url('dice-bg.jpg') !important
}

.logo {
  width: 585px;
}

audio {
  display: block;
  margin-top: 10px;
}

.columns {
  padding: 10%
}

iframe {
  text-align: center;
  width: 440px;
}
